<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= '*' * @restaurant.rating %></p>
  <p>
    <%#= link_to 'Text you see', prefix_path  %>
    <%= link_to restaurants_path, class: 'btn btn-secondary' do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <%= link_to edit_restaurant_path(@restaurant), class: 'btn btn-secondary' do %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
    <a href="" data-turbo-method="delete"></a>
    <%= link_to restaurant_path(@restaurant), data: { turbo_method: :delete, turbo_confirm: "Remove #{@restaurant.name}?" },  class: 'btn btn-secondary' do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </p>
</div>
